h1{
    text-align: center;
}

.girls-group{
    text-align: right;
    font-size: 40px;
}

.boys-group{
    text-align: right;
    font-size: 40px;
}

li{
    display: flex;
    font-size: 30px;
}

.girls-group-line{
    background-color: red;
    height: 10px;
    width: 700px;
    margin-left: 40px;
    border-style: solid;
    border-color: orange;
}

.boys-group-line{
    background-color: blue;
    height: 10px;
    width: 700px;
    margin-left: 40px;
    border-style: solid;
    border-color: black;
}